/* FONTS ------------------------------------------------------------ */
@font-face {
  font-family: "Header";
  src: local("Header"), url(./fonts/NaughtyMonster-axyo9.ttf) format("truetype");
  /* src: local("Header"), url(./fonts/DearRaina-JRrRE.otf) format("opentype"); */
}

@font-face {
  font-family: "Custom";
  /* src: local("Custom"), url(./fonts/Edition-BxnV.ttf) format("truetype"); */
  src: local("Custom)"),
    url(./fonts/LandasansMedium-ALJ6m.otf) format("opentype");
}

/* COLOR VARIABLES -------------------------------------------------- */
:root {
  --main: #84404d;
  --secondary: #b17682;
  --text: #333;
}

/* GENERAL --------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Custom, "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/6180512.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text);
  font-weight: 100;
}

input {
  border-radius: 10px;
  background-color: var(--secondary);
  color: var(--text);
  font-family: Custom, "Helvetica", sans-serif;
  font-size: 22px;
  padding: 10px;
}

input.hidden {
  display: none;
}

input::placeholder {
  font-style: italic;
  color: rgb(86, 79, 79);
}

.btn {
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  background: #333;
  color: var(--secondary);
  border: 1px solid #333;
  box-shadow: 0 0 2px var(--secondary);
  font-family: Custom, "Helvetica", sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.btn:hover {
  background: #341328;
}

.headerContainer,
.footer {
  background-color: rgba(22, 20, 27, 0.659);
  color: var(--main);
}

/* Outer containers ------------------- */
.phaseContentsContainer,
.timerContainer,
.imageContainer,
.qrContainer {
  border: 1px solid rgb(132, 98, 165);
  border-radius: 25px;
  box-shadow: 0 0 4px var(--secondary), 0 0 5px var(--secondary);
  background: var(--main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Inner Containers ------------------- */
.countdownContainer,
.instructions,
.winnersTextSpan,
.submittedWord,
.allWordsListContainer,
.qr span {
  background: var(--secondary);
  padding: 20px 20px;
  border: 1px solid #333;
  box-shadow: 0 0 6px var(--secondary);
  width: 80%;
  border-radius: 15px;
  text-align: center;
}

/* GRID ------------------------------------------------------------ */

.grid-item3 {
  grid-area: image;
}
.grid-item4 {
  grid-area: instructions;
}
.grid-item10 {
  grid-area: renderedContent;
}
.grid-item12 {
  grid-area: phaseContents;
}

.pageContainer {
  font-size: 28px;
  /* text-transform: uppercase; */
  position: relative;
  min-height: 100vh;
}

.contentWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  grid-template-areas:
    "image phaseContents"
    "image phaseContents";
  justify-items: center;
  padding-bottom: 10rem;
  margin: 0;
  width: 100%;
}

/* HEADER --------------------------------------------------------- */
.head-grid-item1 {
  grid-area: title;
}
.head-grid-item2 {
  grid-area: username;
}
.head-grid-item3 {
  grid-area: button;
}
.head-grid-item4 {
  grid-area: timer;
}

.headerContainer {
  width: 100%;
  margin-bottom: 30px;
  padding: 30px;
  /* text-transform: uppercase; */
  font-family: Header;
  text-align: center;
  font-weight: 100;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto;
  grid-template-areas: "timer title username";
}

.headerContainer h1.title {
  font-size: 100px;
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 6px var(--secondary);
}

.headerContainer h2 {
  font-size: 30px;
  color: var(--secondary);
}

.phaseBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TIMER --------------------------------------------------------- */
.timerOuterDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timerContainer {
  padding: 20px 20px;
  width: 60%;
}

/* USERNAME  ------------------------------------------------- */
.currentUser {
  font-family: Custom;
  font-size: 18px;
  border: 1px solid rgb(26, 25, 27);
  border-radius: 25px;
  box-shadow: 0 0 2px var(--secondary), 0 0 3px var(--secondary);
  margin: 10px;
  background: rgb(45, 45, 45);
  color: var(--secondary);
}

.userInput {
  max-width: 100%;
  font-size: 18px;
}

.usernameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currentUser {
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 28px;
}

.updateUsernameBtn {
  font-size: 18px;
  /* width: 40%; */
  padding: 5px;
  text-align: center;
  color: var(--main);
}

.submitUsernameBtn {
  font-size: 14px;
  width: 30%;
}

/* COUNTDOWN ------------------------------------------------------ */
.countdownContainer {
  color: var(--text);
  font-size: 18px;
}

.timerText {
  font-family: Custom;
}

/* IMAGE --------------------------------------------------------- */
.imageContainer {
  padding: 20px 20px;
  width: 100%;
  max-width: 700px;
}

.randomImage {
  border-radius: 25px;
  width: 100%;
}

/* PHASE CONTENTS CONTAINER -------------------------------------------- */
.phaseContentsContainer {
  width: 80%;
  max-width: 500px;
}

/* INSTRUCTIONS --------------------------------------------------------- */
.instructionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.gameEnd {
  font-family: Header;
  font-size: 40px;
  letter-spacing: 1px;
}

/* WORD --------------------------------------------------------- */
.wordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin-top: 60px;
}

.wordForm {
  width: 80%;
  text-align: center;
}

.wordInput {
  width: 70%;

  font-size: 40px;
  padding: 40px 50px;
  border-radius: 25px;
}

.submittedWord {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.currentSubmissionText {
  text-transform: uppercase;
  font-size: 60px;
  font-family: Header;
  letter-spacing: 2px;
}

/* ALL WORDS LIST --------------------------------------------------------- */
.allWordsListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.allWordsListContainer span {
  /* font-family: Header; */
  font-weight: bold;
  font-size: 30px;
}

.allWordsList {
  margin: 10px;
  list-style: none;
}

.selectedWordBtn {
  font-weight: bold;
  border: 1px solid peachpuff;
  box-shadow: 0 0 3px peachpuff, 0 0 4px peachpuff;
}

.selectedWordBtn:hover {
  background: var(--text);
}

.unselectedWordBtn:hover {
  background: var(--text);
}

/* RESULTS --------------------------------------------------------- */
.resultsContainer {
  /* padding: 10px 10px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .winLossText {
  font-family: Header;
  letter-spacing: 00.01em;
  text-align: center;
  margin-bottom: 15px;
} */

.winnersTextSpan {
  padding: 8px 10px;
  margin: 10px;
  border: none;
  font-size: 24px;
}

.resultsTable {
  background: var(--secondary);
  table-layout: auto;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  vertical-align: middle;
}

.column1 {
  text-align: left;
  width: 60%;
}

.column2 {
  text-align: right;
  width: 40%;
}

.yourGuessCell {
  text-align: right;
}

/* QR CODE ------------------------------------------------------- */
.qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qrContainer {
  background: var(--text);
  border-radius: 10px;
}

.qr span {
  text-align: center;
  width: 100%;
  font-size: 22px;
  margin: 50px;
}

/* FOOTER --------------------------------------------------------- */
.footer {
  font-size: 14px;
  text-align: center;
  position: static;
  bottom: 0;
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 5rem;
  padding: 10px;
}

.footer i {
  transition: 2s ease;
}

.footer i:hover {
  transform: rotate(360deg);
}

.footer .icon {
  color: var(--main);
}

.footer .icon:hover {
  color: var(--main);
}

.footer .icon:visited {
  color: rgb(185, 107, 39);
}

/* MEDIA QUERIES ------------------------------------------- */

@media only screen and (min-width: 1400px) {
  .grid-item12 {
    justify-self: left;
  }
}

@media only screen and (max-width: 1550px) {
  /* body {
    color: yellowgreen;
  } */

  .imageContainer {
    width: 90%;
  }

  .phaseContentsContainer {
    width: 80%;
  }

  .gridContainer {
    padding-bottom: 10rem;
  }
}

@media only screen and (max-width: 1400px) {
  /* body {
    color: blueviolet;
  } */

  .gridContainer {
    padding-bottom: 12rem;
  }

  .wordInput {
    width: 60%;
    font-size: 24px;
    padding: 20px 30px;
    border-radius: 20px;
  }

  .submitBtn {
    margin: 5px;
  }
}

@media only screen and (max-width: 1400px) {
  .gridContainer {
    padding-bottom: 10rem;
  }
}

@media only screen and (max-width: 1300px) {
  .gridContainer {
    padding-bottom: 11rem;
  }
}

@media only screen and (max-width: 1200px) {
  .gridContainer {
    padding-bottom: 14rem;
  }
}

@media only screen and (max-width: 1000px) {
  .gridContainer {
    padding-bottom: 15rem;
  }
}

@media only screen and (max-width: 900px) {
  .gridContainer {
    padding-bottom: 16rem;
  }
}

@media only screen and (max-width: 800px) {
  .gridContainer {
    padding-bottom: 16rem;
  }
}

/* Mobile media query */
@media only screen and (max-width: 700px) {
  /* body {
    color: orange;
  } */

  .headerContainer {
    /* margin-bottom: 30px;
    padding: 30px;
    text-transform: uppercase;
    font-family: Header;
    text-align: center;
    font-weight: 100; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
      "title title"
      "timer username";
  }

  .timerOuterDiv,
  .usernameContainer {
    margin-top: 20px;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "image"
      "phaseContents"
      "footer";
    /* padding-bottom: 10rem;
    margin: 0;
    width: 100%; */
  }

  .imageContainer {
    margin: 20px;
    width: 80%;
  }

  .phaseContentsContainer {
    padding: 0 0 20px 0;
  }

  .formContainer {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 1px solid green; */
    margin: 20px;
  }

  .wordInput {
    width: 60%;
    /* border: 1px solid red; */
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
  }
}
