/* FONTS ------------------------------------------------------------ */
@font-face {
  font-family: "Header";
  src: local("Header"), url(./fonts/NaughtyMonster-axyo9.ttf) format("truetype");
  /* src: local("Header"), url(./fonts/DearRaina-JRrRE.otf) format("opentype"); */
}

@font-face {
  font-family: "Custom";
  /* src: local("Custom"), url(./fonts/Edition-BxnV.ttf) format("truetype"); */
  src: local("Custom)"),
    url(./fonts/LandasansMedium-ALJ6m.otf) format("opentype");
}

/* COLOR VARIABLES -------------------------------------------------- */
:root {
  --main: #84404d;
  --secondary: #b17682;
  --text: #333;
}

/* GENERAL --------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Custom, "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/6180512.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text);
  font-weight: 100;
}

input {
  border-radius: 10px;
  background-color: var(--secondary);
  color: var(--text);
  font-family: Custom, "Helvetica", sans-serif;
  font-size: 22px;
  padding: 10px;
}

input.hidden {
  display: none;
}

input::placeholder {
  font-style: italic;
  color: rgb(86, 79, 79);
}

button {
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  background: #333;
  color: peachpuff;
  border: 1px solid #333;
  box-shadow: 0 0 2px var(--secondary);
  font-family: Custom, "Helvetica", sans-serif;
  font-size: 20px;
}

button:hover {
  background: #6a3557;
}

.headerContainer,
.footer {
  background-color: rgba(22, 20, 27, 0.659);
  color: var(--main);
}

/* Outer containers ------------------- */
.phaseContentsContainer,
.timerContainer,
.imageContainer {
  border: 1px solid rgb(132, 98, 165);
  border-radius: 25px;
  box-shadow: 0 0 4px var(--secondary), 0 0 5px var(--secondary);
  /* margin: 10px; */
  background: var(--main);
}

/* Inner Containers ------------------- */
.countdownContainer,
.instructions,
.resultsTable,
.resultsTableRow,
.submittedWord {
  background: var(--secondary);
  padding: 20px 20px;
  border: 1px solid #333;
  box-shadow: 0 0 6px var(--secondary);
  width: 80%;
  border-radius: 15px;
}

/* GRID ------------------------------------------------------------ */

.grid-item3 {
  grid-area: image;
}
.grid-item4 {
  grid-area: instructions;
}
.grid-item8 {
  grid-area: footer;
}
.grid-item10 {
  grid-area: renderedContent;
}
.grid-item12 {
  grid-area: phaseContents;
}

.pageContainer {
  font-size: 28px;
  /* text-transform: uppercase; */
  position: relative;
  min-height: 100vh;
}

.contentWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  /* border: 3px solid blue; */
}

.gridContainer {
  display: grid;
  grid-template-columns: 60% 30%;
  grid-template-rows: auto;
  grid-template-areas:
    "image phaseContents"
    "image phaseContents"
    "footer footer";
  justify-items: center;
  padding-bottom: 10rem;
  margin: 0;
  width: 100%;
}

/* HEADER --------------------------------------------------------- */
.head-grid-item1 {
  grid-area: title;
}
.head-grid-item2 {
  grid-area: username;
}
.head-grid-item3 {
  grid-area: button;
}
.head-grid-item4 {
  grid-area: timer;
}

.headerContainer {
  width: 100%;
  margin-bottom: 30px;
  padding: 30px;
  text-transform: uppercase;
  font-family: Header;
  text-align: center;
  font-weight: 100;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto;
  grid-template-areas: "timer title username";
}

.headerContainer h1.title {
  font-size: 100px;
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 6px var(--secondary);
}

.headerContainer h2 {
  font-size: 30px;
  color: var(--secondary);
}

.currentUser {
  font-family: Custom;
  font-size: 20px;
  border: 1px solid rgb(26, 25, 27);
  border-radius: 25px;
  box-shadow: 0 0 2px var(--secondary), 0 0 3px var(--secondary);
  margin: 10px;
  background: rgb(45, 45, 45);
}

.phaseBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TIMER --------------------------------------------------------- */
.timerOuterDiv {
  /* border: 1px solid red; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.timerContainer {
  padding: 20px 20px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 60%;
  /* border: 1px solid green; */
}

/* USERNAME INPUT ------------------------------------------------- */
.usernameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}

.currentUser {
  border-radius: 15px;
  padding: 10px 20px;
}

.usernameContainer button {
  font-size: 14px;
}

/* COUNTDOWN ------------------------------------------------------ */
.countdownContainer {
  text-align: center;
  color: var(--text);
  font-size: 18px;
}

/* IMAGE --------------------------------------------------------- */
.imageContainer {
  padding: 20px 20px;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.randomImage {
  border-radius: 25px;
  width: 100%;
}

/* PHASE CONTENTS CONTAINER -------------------------------------------- */
.phaseContentsContainer {
  width: 100%;
  /* max-width: 400px; */
}

/* INSTRUCTIONS --------------------------------------------------------- */
.instructionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  /* border: 1px solid green; */
}

/* WORD --------------------------------------------------------- */
.wordContainer {
  /* padding: 40px 80px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  width: 100%;
  /* border: 1px solid green; */
  margin-top: 60px;
}

.wordForm {
  width: 80%;
  text-align: center;
  /* border: 1px solid green; */
}

.submitBtn {
  margin: 10px;
}

.wordInput {
  width: 70%;
  /* border: 1px solid red; */
  font-size: 40px;
  padding: 40px 50px;
  border-radius: 25px;
}

.submittedWord {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.currentSubmissionText {
  /* text-decoration: underline; */
  text-transform: uppercase;
  font-size: 60px;
  font-family: Header;
  letter-spacing: 2px;
}

/* ALL WORDS LIST --------------------------------------------------------- */
.allWordsListContainer {
  padding: 80px 140px;
}

.allWordsListContainer span {
  text-decoration: underline;
}

.allWordsList {
  margin: 10px;
  list-style: none;
}

.selectedWord {
  font-weight: bold;
}

/* RESULTS --------------------------------------------------------- */
.resultsContainer {
  padding: 40px 10px;
}

.winLossText {
  font-family: Header;
  letter-spacing: 00.01em;
  text-align: center;
  margin-bottom: 15px;
}

/* .resultsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.resultsTable {
  table-layout: auto;
  width: 100%;
  padding: 10px;
}

.column1 {
  text-align: left;
  width: 70%;
}

.column2 {
  text-align: right;
  width: 30%;
}

/* FOOTER --------------------------------------------------------- */
.footer {
  font-size: 14px;
  text-align: center;
  position: static;
  bottom: 0;
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* margin: 60px 0 0 0; */
  padding: 10px;
}

.footer i {
  transition: 2s ease;
}

.footer i:hover {
  transform: rotate(360deg);
}

.footer .icon {
  color: var(--main);
}

.footer .icon:hover {
  color: var(--main);
}

.footer .icon:visited {
  color: rgb(185, 107, 39);
}

/* MEDIA QUERIES ------------------------------------------- */
@media only screen and (max-width: 1550px) {
  /* body {
    color: yellowgreen;
  } */

  .imageContainer {
    width: 90%;
  }

  .phaseContentsContainer {
    width: 80%;
  }
}

@media only screen and (max-width: 1400px) {
  /* body {
    color: blueviolet;
  } */

  /* .gridContainer {
    display: grid;
    grid-template-columns: 5% 55% 35% 5%;
    grid-template-rows: auto;
    grid-template-areas:
      ". image phaseContents ."
      ". image phaseContents ."
      "footer footer footer footer";
    padding-bottom: 10rem;
    margin: 0;
    width: 100%;
  } */

  .imageContainer {
    /* width: 90%; */
  }

  .phaseContentsContainer {
    /* width: 80%; */
  }
}

/* Mobile media query */
@media only screen and (max-width: 600px) {
  /* body {
    color: orange;
  } */

  .headerContainer {
    /* margin-bottom: 30px;
    padding: 30px;
    text-transform: uppercase;
    font-family: Header;
    text-align: center;
    font-weight: 100; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
      "title title"
      "timer username";
  }

  .timerOuterDiv,
  .usernameContainer {
    margin-top: 20px;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "image"
      "phaseContents"
      "footer";
    /* padding-bottom: 10rem;
    margin: 0;
    width: 100%; */
  }

  .imageContainer {
    margin: 20px;
  }

  .formContainer {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 1px solid green; */
    margin: 20px;
  }

  .wordInput {
    width: 60%;
    /* border: 1px solid red; */
    font-size: 20px;
    padding: 30px 40px;
    border-radius: 20px;
  }
}
