/* FONTS ------------------------------------------------------------ */
@font-face {
  font-family: "Header";
  src: local("Header"), url(./fonts/NaughtyMonster-axyo9.ttf) format("truetype");
  /* src: local("Header"), url(./fonts/DearRaina-JRrRE.otf) format("opentype"); */
}

@font-face {
  font-family: "Test";
  /* src: local("Test"), url(./fonts/Edition-BxnV.ttf) format("truetype"); */
  src: local("Test)"), url(./fonts/LandasansMedium-ALJ6m.otf) format("opentype");
}

/* GENERAL --------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Test, "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: gray;
  color: peachpuff;
  font-weight: 100;
}

input {
  border-radius: 10px;
  background-color: peachpuff;
  color: #333;
  font-family: Test, "Helvetica", sans-serif;
  font-size: 18px;
  padding: 10px;
  width: 150px;
}

input.hidden {
  display: none;
}

input::placeholder {
  font-style: italic;
}

button {
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  background: rgb(249, 193, 144);
  border: 1px solid #333;
  box-shadow: 0 0 1px #333;
  font-family: Test, "Helvetica", sans-serif;
  font-size: 20px;
}

button:hover {
  background: rgb(207, 127, 127);
}

/* GRID ------------------------------------------------------------ */
.grid-item1 {
  grid-area: header;
}
.grid-item2 {
  grid-area: timer;
}
.grid-item3 {
  grid-area: image;
}
.grid-item4 {
  grid-area: instructions;
}
/* .grid-item5 {
  grid-area: word;
}
.grid-item6 {
  grid-area: allWordsList;
}
.grid-item7 {
  grid-area: results;
} */
.grid-item8 {
  grid-area: footer;
}
.temp-grid-item {
  grid-area: phaseButton;
}

.grid-item10 {
  grid-area: renderedContent;
}

.grid-item11 {
  grid-area: username;
}

.pageContainer {
  font-size: 28px;
  /* text-transform: uppercase; */
  position: relative;
  min-height: 100vh;
}

.contentWrap {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "phaseButton . username"
    "timer . instructions"
    "image image renderedContent"
    "image image renderedContent"
    "image image renderedContent"
    "footer footer footer";
  padding-bottom: 3rem;
}

.timerContainer,
.imageContainer,
.instructions,
.wordContainer,
.allWordsListContainer,
.resultsContainer {
  border: 1px solid peachpuff;
  border-radius: 25px;
  margin: 10px;
}

/* HEADER --------------------------------------------------------- */
.headerContainer {
  margin: 30px;
  text-transform: uppercase;
  font-family: Header;
  font-size: 50px;
  text-align: center;
  font-weight: 100;
  /* letter-spacing: 0.01em; */
}

.phaseBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* USERNAME INPUT ------------------------------------------------- */
.usernameContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 30px;
}

.usernameContainer button {
  font-size: 14px;
}

/* TIMER --------------------------------------------------------- */
.timerContainer {
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* COUNTDOWN ------------------------------------------------------ */
.countdownContainer {
  text-align: center;
  color: rgb(19, 11, 9);
  font-size: 18px;
}

/* IMAGE --------------------------------------------------------- */
.imageContainer {
  padding: 20px 20px;
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.randomImage {
  border-radius: 25px;
  width: 100%;
}

/* INSTRUCTIONS --------------------------------------------------------- */
.instructions {
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* WORD --------------------------------------------------------- */
.wordContainer {
  padding: 40px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submittedWord {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ALL WORDS LIST --------------------------------------------------------- */
.allWordsListContainer {
  padding: 80px 140px;
}

.allWordsListContainer span {
  text-decoration: underline;
}

.allWordsList {
  margin: 10px;
  list-style: none;
}

.selectedWord {
  font-weight: bold;
}

/* RESULTS --------------------------------------------------------- */
.resultsContainer {
  padding: 40px 10px;
}

.winLossText {
  font-family: Header;
  letter-spacing: 00.01em;
  text-align: center;
  margin-bottom: 15px;
}

/* .resultsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.resultsTable {
  table-layout: auto;
  width: 100%;
}

.column1 {
  text-align: left;
  width: 70%;
}

.column2 {
  text-align: right;
  width: 30%;
}

/* FOOTER --------------------------------------------------------- */
.footer {
  background-color: rgba(51, 51, 51, 0.659);
  font-size: 14px;
  color: #ffdab9;
  text-align: center;
  position: static;
  bottom: 0;
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 60px 0 0 0;
  padding: 10px;
}

.footer i {
  transition: 2s ease;
}

.footer i:hover {
  transform: rotate(360deg);
}

.footer .icon {
  color: peachpuff;
}

.footer .icon:hover {
  color: peachpuff;
}

.footer .icon:visited {
  color: rgb(185, 107, 39);
}
